@import "fontstyles.css";

/* Global Variables */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #01baef;
    --color-dark-purple: #380036;
    --color-light-blue: #83c9f4;
}

/* Default Styles */
body {  
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'krubregular', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'barlowbold', 'krubregular' ;
    color: #380036;
}

header {
    width: 100%;
    height: 725px;
    position: relative;
}

.content {
    margin: 0 10% 0 10%;
}


main{
   /*max-width: 100%; */
    background: #ffffff;
    padding-bottom: 10%;
}

footer {
    max-width: 100%;
    padding: 20px;
    padding-top: 215px;
    background-color: #380036;

}

/* Navigation Styles */
nav {
    background-color: var(--color-white);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-dark-purple);
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: var(--color-blue);
}

/* Button Styles */
.button {
    background-color: var(--color-white);
    color: var(--color-dark-purple);
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid var(--color-dark-purple);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--color-dark-purple);
    color: var(--color-white);
}

.title-button {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.title-button:hover {
    background-color: var(--color-light-blue);
    color: var(--color-blue);

}

.fullprivacy-button {
    display: block;  /* make the button a full width block element */
    margin: 20px auto;  /* give space above and below, and center horizontally */
    text-align: center; /* center the text within the button */
}

.contact-section {
    padding-top: 50px;
    width: 45%;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-info {
    text-align: center;
    padding-top: 50px;
    width: 50%;
}

.intro-section {
    margin-bottom: 40px;
    text-align: center;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-item {
    width: 45%; /* Adjust based on your preference */
    margin-bottom: 40px;
}

.feature-image {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

.cta-section {
    text-align: center;
    margin-top: 80px;
}

.hero {
    text-align: center;
    padding: 50px 0 0 0;
}

.hero-image {
    border: 2px dashed #01baef;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.highlights {
    margin: 80px 0px 0;
    text-align: center;
}

.preview-section {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.job-card {
    width: 30%; /* Adjust as needed */
    text-align: center;
}

.job-card p {
    margin-top: 20px;
    margin:0;
}

.pricing-section {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.pricing-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 3rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.pricing-card img {
    width: 100%;
    border-radius: 8px;
}

.pricing-card .price {
    font-size: 2rem;
    margin: 1rem 0;
}

.pricing-card ul {
    padding-left: 0;
    list-style-type: none;
}

.pricing-card li {
    margin-bottom: 0.5rem;
}

.pricing-card .button {
    margin-top: 1rem;
}

.cta-container {
    background-color: #26081c; 
    color: #01baef; 
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.cta-container a {
    color: #0cbaba;  
    text-decoration: underline;
}

.cta-container a:hover {
    color: #01baef; 
}

body {
    font-family: 'krubregular', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 36px;
    width: 284px;
    height:150px;
    margin-right: auto;
    color: white;
    pointer-events: none;
    display: inline-block;
    align-items: center;
    justify-content: center


}

.navbar-links {
    display: flex;
    gap: 15px; /* Provides spacing between links */
    padding-right: 25px;
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* This will push the .navbar-brand to the left and .navbar-links to the right */
    background-color: var(--color-dark-purple); 
    height: 80px;
    padding: 10px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    background-color: var(--color-dark-purple);
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

.navbar a:focus, .navbar a:active {
    outline: none;
    box-shadow: none;
}

.wave svg{
    min-width: 100vh;
    width: 100%;
    bottom:0;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
}

.about-content {
    background-color: var(--color-blue);
    padding: 20px;
}

.image-placeholder {
    width: 80%;
    height: 300px;
    margin: 20px auto;
    background-color: #e0e0e0; /* For placeholder */
}

.team-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0e0e0; /* For placeholder */
    margin: 0 10px;
}

button.slide-left, button.slide-right {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.team-member img {
    width: 300px;
    height: 300px;
    border-radius: 50%;  /* This will make the image appear as a circle */
    object-fit: cover;
    margin: 20px auto;
}

.team-member {
    text-align: center;
    flex: 0 0 100%; /* each slide will take 100% of the container width*/
    min-width: 100%;
    display: inline-block;
}

.slides-wrapper {
    display: flex;  /* This will put all team-member divs in a row */
    transition: all 1s ease; /* This will add a smooth transition */
    width: 94%;  /* Assuming there are 5 team members, and each is 150px wide */
    text-align: center;
}

.prev, .next {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    user-select: none;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slides {
    transition: transform 0.5s ease;
}

.slides-container {
    display: flex;
    overflow: hidden;
    transition: transform 0.5s ease;
    
}

.slides-container .prev,
.slides-container .next {
    z-index: 10; /* Ensures the arrows are on top of the slides */
    position: relative; /* Necessary for z-index to take effect */
}

.main-wrapper::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    height: 750px; /* Adjust this value for the rectangle's length */
    background-image: url(/media/background.png);
    background-size: cover;
    z-index: -1; /* This will put the rectangle behind the content */
}

.main-wrapper {
    position: relative; /* This is necessary for positioning the pseudo-element correctly */
}
 
.header-area {
    padding-left: 150px;
    width: 35%;

}

.main-title {
    font-size: 6em; 
    text-align: left; 
    padding-top: 200px;
    margin: 0;
    color: #380036;
}

.delivery {
    text-align: center;
    margin-top: 80px;
}

.anything-images{
    width: 100%; 
    height:auto; 
    border: 2px dashed #01baef;
    padding: 5px;
    border-radius: 75px;
}