/* Global Variables */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #01baef;
    --color-dark-purple: #380036;
}

/* Default Styles */
body {  
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, main, footer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Navigation Styles */
nav {
    background-color: var(--color-white);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-dark-purple);
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: var(--color-blue);
}

/* Button Styles */
.button {
    background-color: var(--color-white);
    color: var(--color-dark-purple);
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid var(--color-dark-purple);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--color-dark-purple);
    color: var(--color-white);
}

.fullprivacy-button {
    display: block;  /* make the button a full width block element */
    margin: 20px auto;  /* give space above and below, and center horizontally */
    text-align: center; /* center the text within the button */
}

.contact-section {
    margin: 20px 0;
}

.contact-form label {
    display: block;
    margin-top: 10px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-info {
    margin: 40px 0;
}

.map-placeholder {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

.intro-section {
    margin-bottom: 40px;
    text-align: center;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature-item {
    width: 45%; /* Adjust based on your preference */
    margin-bottom: 40px;
}

.feature-image {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

.cta-section {
    text-align: center;
    margin-top: 40px;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

.hero-image {
    border: 2px dashed #ccc;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.highlights {
    margin: 40px 0;
    text-align: center;
}

.preview-section {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.job-card {
    width: 30%; /* Adjust as needed */
    text-align: center;
}

.job-card p {
    margin-top: 20px;
}

.pricing-section {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.pricing-card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.pricing-card img {
    width: 100%;
    border-radius: 8px;
}

.pricing-card .price {
    font-size: 2rem;
    margin: 1rem 0;
}

.pricing-card ul {
    padding-left: 0;
    list-style-type: none;
}

.pricing-card li {
    margin-bottom: 0.5rem;
}

.pricing-card .button {
    margin-top: 1rem;
}

.cta-container {
    background-color: #26081c; 
    color: #01baef; 
    padding: 1.5rem;
    margin-top: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.cta-container a {
    color: #0cbaba;  
    text-decoration: underline;
}

.cta-container a:hover {
    color: #01baef; 
}
