/* Global Variables */
:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #01baef;
    --color-dark-purple: #380036;
}

/* Default Styles */
body {  
    background-color: var(--color-white);
    color: var(--color-black);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, main, footer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* Navigation Styles */
nav {
    background-color: var(--color-white);
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--color-dark-purple);
    text-decoration: none;
    transition: color 0.2s;
}

nav ul li a:hover {
    color: var(--color-blue);
}

/* Button Styles */
.button {
    background-color: var(--color-white);
    color: var(--color-dark-purple);
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid var(--color-dark-purple);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.button:hover {
    background-color: var(--color-dark-purple);
    color: var(--color-white);
}

.fullprivacy-button {
    display: block;  /* make the button a full width block element */
    margin: 20px auto;  /* give space above and below, and center horizontally */
    text-align: center; /* center the text within the button */
}