@import "fontstyles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Variables */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #01baef;
  --color-dark-purple: #380036;
  --color-light-blue: #83c9f4;
}

/* Default Styles */
body {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: "krubregular", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "barlowbold", "krubregular";
  color: #380036;
}

main {
  background: #ffffff;
  padding-bottom: 5%;
}

footer {
  max-width: 100%;
  padding: 50px;
  padding-top: 80px;
  background-color: #380036;
  text-align: center;
}

footer p {
  color: #ffffff;
}

/* Regular navigation styles */
nav {
  background-color: var(--color-dark-purple);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  position: relative;
}

.mobile-navbar-links {
  display: none;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand img {
  object-fit: cover;
}

.navbar-brand h4 {
  float: right;
  color: #ffffff;
  margin-left: 10px;
}

.navbar-links {
  list-style-type: none;
}

.navbar-links a,
.mobile-navbar-links a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  transition: color 0.2s;
  padding: 10px;
  font-size: 1.2rem;
}

.navbar-links a:hover {
  background-color: #ddd;
  color: black;
  }

.navbar a:focus,
.navbar a:active {
  outline: none;
  box-shadow: none;
}

.navbar a.active {
  background-color: var(--color-dark-purple);
  color: white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

/* Hamburger Icon (hidden by default) */
.hamburger {
  display: none;
  cursor: pointer;
  /* Basic styling for the hamburger icon */
  font-size: 24px;
  color: white;
  padding: 0 15px;
}

/* Media Query for Smaller Screens */
@media screen and (max-width: 1000px) {
  .navbar-links {
    display: none;
    flex-direction: column;

    text-align: center;
  }

  .mobile-navbar-links-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
  }

  .hamburger {
    display: block;
  }
}

/* Button Styles */
/* Button Styles */
.button {
  background-color: var(--color-white);
  color: var(--color-dark-purple);
  padding: 10px 15px;
  text-decoration: none;
  border: 2px solid var(--color-dark-purple);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.button:hover {
  background-color: var(--color-dark-purple);
  color: var(--color-white);
}

.title-button {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.title-button:hover {
  background-color: var(--color-light-blue);
  color: var(--color-blue);
}

.fullprivacy-button {
  display: block; /* make the button a full width block element */
  margin: 20px auto; /* give space above and below, and center horizontally */
  text-align: center; /* center the text within the button */
}

nav ul li a:hover {
  color: var(--color-blue);
}

/** Footer **/

footer {
  max-width: 100%;
  padding: 50px;
  padding-top: 80px;
  background-color: #380036;
  text-align: center;
}

footer p {
  color: #ffffff;
}

.footer-links {
  color: #ffffff;
  text-decoration: underline;
}