.main-header-content {
    margin: 0 auto;
    padding: 0 20px;
    height: 750px;
    background-image: url(/media/background.png);
    background-size: cover;
    width: 100%;
    position: fixed;
    z-index:-1 ;
  }
  
  .header-area {
    max-width: 1400px;
  }
  
  .header-area {
    max-width: 600px;
    padding-left: 150px;
    font-size: 1.3rem;
  }
  
  .main-title {
    font-size: 5em;
    text-align: left;
    padding-top: 200px;
    margin: 0;
    color: #380036;
  }
  
  .content {
    padding: 0 20px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
  }
  
  .swiper-container {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #dec5e3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .team-member {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    border: 1px solid #380036;
    border-radius: 10px;
    padding: 20px;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 1000px) {
    .main-title {
      font-size: 5em;
    }
  
    .header-area {
      padding-left: 0;
      width: 100%;
    }
    .swiper-container {
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .main-title {
      font-size: 3em;
    }
  
    .header-area {
      padding-left: 0;
      width: 100%;
    }
  }