.main-header-content {
    margin: 0 auto;
    padding: 0 20px;
    height: 750px;
    background-image: url(/media/background.png);
    background-size: cover;
    width: 100%;
    position: fixed;
    z-index:-1 ;
  }
  
  .header-area {
    max-width: 1400px;
  }
  
  .header-area {
    max-width: 600px;
    padding-left: 150px;
    font-size: 1.3rem;
  }
  
  .main-title {
    font-size: 6em;
    text-align: left;
    padding-top: 200px;
    margin: 0;
    color: #380036;
  }
  
  .content {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
  }
  
  .privacy-intro {
    margin: 0 auto;
    padding-top: 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  @media screen and (max-width: 1000px) {
    .main-title {
      font-size: 5em;
    }
  
    .header-area {
      padding-left: 0;
      width: 100%;
    }
  }
  @media screen and (max-width: 500px) {
    .main-title {
      font-size: 3em;
    }
  
    .header-area {
      padding-left: 0;
      width: 100%;
    }
  }